<!doctype html>
<head>
    <title>Hello Azure - Python Quickstart</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<html>
   <body>
     <main>
        <div class="px-4 py-3 my-2 text-center">
            <img class="d-block mx-auto mb-4" src="{{ url_for('static', filename='images/azure-icon.svg') }}" alt="Azure Logo" width="192" height="192"/>
            <!-- <img  src="/docs/5.1/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57"> -->
            <h1 class="display-6 fw-bold text-primary">Welcome to the flask weather API</h1>            
          </div>
        <form method="post" action="{{url_for('hello')}}">
            <div class="col-md-6 mx-auto text-center">

                <!-- <p class="lead mb-2">Could you please tell me your name?</p> -->
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center align-items-center my-1">
                    <input type="text" class="form-control" id="name" name="name" style="max-width: 256px;">
                  </div>            
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center my-2">
                  <button type="submit" class="btn btn-primary btn-lg px-4 gap-3">Enter your name to go to next page..</button>
                </div>    
                <p> some example requests you can give me... <br></br>

                 Give me location as a string, temperature in degrees and wind as a string as kts and degrees. <br></br>
                  
                 requests.put(BASE + 'event/' + "Scotland" + "/10" + "/20kts at 012 degrees")<br></br>
           
                 requests.put(BASE + 'event/' + "England" + "/20" + "/20kts at 012 degrees")<br></br>

                 requests.patch(BASE + 'event/' + "England" + "/20" + "/20kts at 050 degrees")<br></br>
             
                 requests.get(BASE + 'getevents/') <br></br>

                 requests.get(BASE + 'getWind/' + "Scotland") <br></br>
           
                 requests.get(BASE + 'getTemp/' + "Scotland") <br></br>

                 requests.delete(BASE + 'deleteOne/' + "France") <br></br>
       
                 requests.delete(BASE + 'deleteAll/') <br></br>
                  </p>        
            </div>
        </form>
     </main>      
   </body>
</html>